<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.scss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Pizza Man</title>
  </head>

  <body>
    <div class="banner">
      <div class="banner-container">
        <h1>PIZZA <span>MAN</span></h1>
        <h2>Pizza Man Online Ordering</h2>
        <p>Your Yummy Pizza Delivered Fast & Fresh</p>
        <%= link_to "Order Now", menu_path, class: "order-button"%>
      </div>  
    </div>
  </body>
  
</html>